<div class="container" style="margin-top: -80px;">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="img/darkID-logo01.png" class="img-responsive" />
                <div class="card-body">
                    <h4 class="card-title">
                        darkID
                    </h4>
                    <input ng-model="user.email" class="form-control" placeholder="Email" type="text">
                    <input ng-model="user.password" class="form-control" placeholder="Password" type="password">
                    <input ng-model="user.phone" class="form-control" placeholder="Phone" type="text">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#!/login" class="btn btn-raised btn-block c_o_blue300">Cancel</a>
                        </div>
                        <div class="col-sm-6">
                            <div ng-click="signup()" class="btn btn-raised btn-block c_o_pink300 pull-right">Signup</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-3">

        </div>
    </div>
</div>
