<div ng-controller="NavbarCtrl" ng-show="user">
    <nav class="navbar navbar-fixed-top o_nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/" title="darkID">
                    <img src="img/darkID-logo-white.png" style="width:30px;height:30px;display:inline;" alt=""> darkID
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#!/stats" title="Stats">
                            <i title="Server" class="fa fa-bar-chart fa-1x"></i> Stats
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a title="serverIDsigner">
                            <i title="Server" class="fa fa-server fa-1x"></i> {{server}}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i title="User" class="fa fa-user fa-1x"></i> {{user.email}}
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="logout()">
                            <i title="Exit" class="fa fa-power-off fa-1x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
